---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {% for category in site.categories %}
      <h3>{{ category[0] }}</h3>
      <ul>
        {% for post in category[1] %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%d-%m-%y" -%}
            
            {% if post.layout == "link" %}
              <a href="{{ post.link }}" target="_blank">
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <span class="post-icon" title="External Link">{% octicon globe height:12 %}</span>
                <span class="post-title2">{{ post.title | escape }} - published at {{ post.target }}</span>
              </a>
            {% else %}
              <a href="{{ post.url | relative_url }}">
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <span class="post-title2">{{ post.title | escape }}</span>
              </a>
            {% endif %}

            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- endif -%}
</div>
